body {
    background-color: #0b5371;
    text-align: center;
    background-image: url(../flight1.jpg);
    
}

.navbar {
    background-color:blue;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }

  .navbar-ban{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: inherit;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    padding: 0 370px  0;
  }